@using MusicStore.Models
@{
    var clang = Language.GetCurrentLanguage;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Localize.GetLocalize(clang, "@home"), "Index", "Home", new { lang = clang }, new { @class = "home" })</li>
                    <li>@Html.ActionLink(Localize.GetLocalize(clang, "@album"), "Index", "Albums", new { lang = clang }, null)</li>
                    <li>@Html.ActionLink(Localize.GetLocalize(clang, "@author"), "Index", "Authors", new { lang = clang }, null)</li>
                    <li>@Html.ActionLink(Localize.GetLocalize(clang, "@albumauthor"), "Index", "AlbumAuthors", new { lang = clang }, null)</li>
                    <li><a href="~/APICall/Album.html">Albul API</a></li>
                    <li><a href="~/APICall/Author.html">Author API</a></li>
                </ul>
                <div>
                    @Html.Partial("_LanguageSwitcher")                  
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application - @Language.GetCurrentLanguage - @Html.Partial("_Login")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
