
@model PagedList.IPagedList<MusicStore.Models.Album>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <input type="text" name="searchString" value="@ViewBag.q" />
    <input type="submit" value="Search" />

}
<br/>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReleaseDate)*@
            @Html.ActionLink("ReleaseDate", "Index", new { sortOrder = ViewBag.ReleaseDateSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Rating)*@
            @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsEnable)*@
            @Html.ActionLink("IsEnable", "Index", new { sortOrder = ViewBag.IsEnableSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.ReleaseDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))