@using MusicStore.Models
@{
    var clang = Language.GetCurrentLanguage;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    .pointer {
        cursor: pointer;
    }
</style>
<h2>Student Details :</h2>
<div ng-controller="stuCntr">

    <input type="submit" value="Add Student" class="btn btn-primary" ng-click="AddNewStudent()" /><br /><br />
    <div id="dvStudnetDetails">
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>
                        @Localize.GetLocalize(clang, "@StudentID")
                    </b>
                </td>
                <td>
                    <b>
                        @Localize.GetLocalize(clang, "@StudentName")
                    </b>
                </td>
                <td>
                    <b>
                        @Localize.GetLocalize(clang, "@StudentAddress")
                    </b>
                </td>
                <td>
                    <b>
                        @Localize.GetLocalize(clang, "@StudentEmail")
                    </b>
                </td>
                <td>
                    <b>
                        @Localize.GetLocalize(clang, "@Action")
                    </b>
                </td>
            </tr>
            <tr ng-repeat="stu in students">
                <td ng-show="aa">

                    {{stu.ID}}


                </td>
                <td style="vertical-align:middle;width:100px;">

                    {{$index+1}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentName" class="form-control" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentName}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentAddress" class="form-control" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentAddress}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentEmail" class="form-control" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentEmail}}


                </td>
                <td style="vertical-align:middle; width:120px;">
                    <span ng-hide="a" ng-click="a=!a" class="pointer">Edit</span>
                    <span ng-show="a" ng-click="UpdateStudent(stu);a=!a" class="pointer">Update</span>
                    <span ng-show="a" ng-click="a=!a" class="pointer">Cancel</span>
                    <span ng-hide="a" ng-click="deleteStudent(stu,stu.ID)" class="pointer">Delete</span>
                </td>
            </tr>
        </table>
        <div ng-show="loading" class="loading">
            <img src="../../Images/loading.gif" style="width:120px" />
        </div>
    </div>
    <div id="dvAddStudnet" ng-show="dvStudent">
        <p class="dvTask">{{Action}} New Student</p>
        <form name="myForm">
            <table>
                <tr>
                    <td>Name : </td>
                    <td>
                        <input type="text" id="txtName" name="txtName" ng-model="stu.StudentName" required />
                        <span ng-show="myForm.txtName.$touched && myForm.txtName.$invalid">The name is required.</span>
                    </td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td>
                        <input type="text" id="txtEmail" ng-model="stu.StudentEmail" required />
                    </td>
                </tr>
                <tr>
                    <td>Address : </td>
                    <td>
                        <input type="text" id="txtAddress" ng-model="stu.StudentAddress" />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit" class="btn btn-primary" ng-click="AddStudent(stu)" />
        </form>
    </div>
</div>  